---
title: marknotfound | the blog
description: Thoughts from Mark on whatever his brain is currently obsessing over. Usually tech, running, and photography.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or renderData.description }}" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="{{ title or renderData.title or metadata.title }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{description or renderData.description}}" />
    <meta property="og:image" content="{{ '/img/logo.png' | url }}" />
    <meta property="og:type" content="article" />
    <link rel="canonical" href="{{ page.url }}" />
    <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/skeleton.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/img/favicon/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/img/favicon/safari-pinned-tab.svg' | url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=VT323&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    <!-- Cronitor RUM -->
    <script async src="https://rum.cronitor.io/script.js"></script>
    <script>
        window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
        cronitor('config', { clientKey: '332c2a8bdfe5a0e49a2ff02fd0eb4d6e' });
    </script>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="/">marknotfound | the blog</a>
      </h1>
    </header>
    <div class="container">
      {{ content | safe }}
    </div>
    <footer></footer>
  </body>
</html>